.form {
  display: flex;
  flex-direction: column;
  width: 110px;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #27ae60;
  border: 1px solid #27ae60;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 20px;
  transition: all 0.2s;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  height: 2.5rem;
  width: 100%;
}

.form button:hover,
.form button:active {
  background-color: #057f38;
  border-color: #057f38;
}
